{% extends "base.html" %} {% block content %}
<header class="masthead gallery"></header>

<div class="container px-4 px-lg-5 gallery-intro">
    <div
      class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Welcome To The Gallery</h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">
          Posts made by other users will appear here, just scroll down to
          explore some of them.
        </p>
        <a class="btn btn-primary btn-xl" href="{{ url_for('upload') }}">Post Your Own Piece</a>
      </div>
    </div>
</div>
{% endblock %}
