{% extends "base.html" %} {% block content %}
<header class="masthead gallery"></header>

<div class="container px-4 px-lg-5 gallery-intro">
  <div
    class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
  >
    <div class="col-lg-8 align-self-end">
      <h1 class="text-white font-weight-bold">Welcome To The Gallery</h1>
      <hr class="divider" />
    </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 mb-5">
        Posts made by other users will appear here, just scroll down to explore
        some of them.
      </p>
      <a class="btn btn-primary btn-xl" href="{{ url_for('upload') }}"
        >Post Your Own Piece</a
      >
    </div>
  </div>
</div>

<div id="gallery">
  <div class="container-fluid p-0 gallery-posts">
        {% for post in posts %}
          <div class="post gallery-box" id="{{ post.id }}">
            <div class="post-title">{{ post.title }}</div>
              <!-- <a class="gallery-box" href="{{ url_for('static', filename=path+'/'+post.image_url)}}" title="{{ post.user }} - {{ post.title }}"> -->
                  <img id="{{ post.id }}-img" class="img-fluid" src="{{ url_for('static', filename=path+'/'+post.image_url)}}" alt="..." />
                  <div class="gallery-box-caption">
                      <div class="project-category text-white-50">{{ post.date }}</div>
                      <hr>
                      <div class="project-category text-white-100">{{ post.category }}</div>
                      <div class="project-category text-white-50">{{ post.user }}</div>
                      <hr>
                      <div class="project-name">{{ post.content }}</div>

                  </div>
              </a>
              <div class="post-actions">
                {% if current_user.is_authenticated %}
                  {% if current_user.id in post.liked_by %}
                  <div class="{{ post.id }} post-like liked">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  {% else %}
                  <div class="{{ post.id }} post-like">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  {% endif %}
                  <div class="{{ post.id }} post-comment"><i class="bi bi-chat-right-dots"></i> {{ post.comment_count }}</div>
                  {% else %}
                  <div class="{{ post.id }} post-like disabled">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  <div class="{{ post.id }} post-comment"><i class="bi bi-chat-right-dots"></i> {{ post.comment_count }}</div>
                {% endif %}
                
              </div>
              {% if current_user.id == post.user_id or current_user.admin == True %}
              <div class="post-delete">
                <a href="#" class="tooltip-test" title="Delete Post">
                <div class="{{ post.id }} post-delete-icon">
                  <i class="bi bi-trash"></i>
                </div>
              </a>
              </div>
              {% endif %}
          </div>
          {% endfor %}
  </div>
</div>

<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-modal="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-body py-0">
        <div class="d-flex main-content">
          <div id="modal-image" class="bg-image promo-img mr-3">
          </div>
          <div class="content-text p-4 px-5 align-item-stretch">
            <button id="comment-exit" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
              <h3 id="comment-title" class="mb-3 line"></h3>
              <div class="text-left" id="comments"></div>
              <div class="modal-footer">
                <textarea name="comment-content" class="form-control" id="comment-content" placeholder="Type your comment here..." cols="20" rows="2"></textarea>
                <button type="button" class="btn btn-secondary" id="comment-close">Close</button>
                <button type="button" class="btn btn-primary" id="comment-add">Add Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/gallery-actions.js') }}"></script>
{% endblock %}
