{% extends "base.html" %} {% block content %}
<header class="masthead gallery"></header>

<div class="container px-4 px-lg-5 gallery-intro">
  <div
    class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
  >
    <div class="col-lg-8 align-self-end">
      <h1 class="text-white font-weight-bold">Welcome To The Gallery</h1>
      <hr class="divider" />
    </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 mb-5">
        Posts made by other users will appear here, just scroll down to explore
        some of them.
      </p>
      <a class="btn btn-primary btn-xl" href="{{ url_for('upload') }}"
        >Post Your Own Piece</a
      >
    </div>
  </div>
</div>

<div id="gallery">
  <div class="container-fluid p-0">
        {% for post in posts %}
          <div class="post gallery-box" id="{{ post.id }}">
            <div class="post-title">{{ post.title }}</div>
              <!-- <a class="gallery-box" href="{{ url_for('static', filename=path+'/'+post.image_url)}}" title="{{ post.user }} - {{ post.title }}"> -->
                  <img class="img-fluid" src="{{ url_for('static', filename=path+'/'+post.image_url)}}" alt="..." />
                  <div class="gallery-box-caption">
                      <div class="project-category text-white-50">{{ post.user }}</div>
                      <div class="project-name">{{ post.content }}</div>
                  </div>
              </a>
              <div class="post-actions">
                {% if current_user.is_authenticated %}
                  {% if current_user.id in post.liked_by %}
                  <div class="{{ post.id }} post-like liked">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  {% else %}
                  <div class="{{ post.id }} post-like">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  {% endif %}
                  <div class="{{ post.id }} post-comment"><i class="bi bi-chat-right-dots"></i> 0</div>
                  {% else %}
                  <div class="{{ post.id }} post-like disabled">
                    <i class="bi bi-hand-thumbs-up">{{ post.like_count }}</i>
                  </div>
                  <div class="{{ post.id }} post-comment"><i class="bi bi-chat-right-dots"></i> 0</div>
                {% endif %}
              </div>
              {% if current_user.id == post.user_id %}
              <div class="post-delete">
                <div class="{{ post.id }} post-delete-icon"><i class="bi bi-trash"></i></div>
              </div>
              {% endif %}
          </div>
          {% endfor %}
  </div>
</div>

<script>
  const postLikeDiv = document.querySelectorAll(".post-like");
  const postDeleteDiv = document.querySelectorAll(".post-delete-icon");

  postLikeDiv.forEach(function (element) {
    element.addEventListener("click", function () {
      if (element.classList[2] == "disabled") {
        location.replace("/log-in")
      }
      else if (element.classList[2] == "liked") {
        element.classList.remove("liked");
        fetch(`/remove_reaction/${element.classList[0]}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json" // Set the content type based on your API requirements
            // Add any additional headers if needed
          } // Convert the data to JSON format
        }).then(setTimeout(()=>{
          fetch(`/reaction_count/${element.classList[0]}`)
            .then((response) => response.json())
            .then((responseData) => {
              element.childNodes[1].innerHTML = responseData;
            })
            .catch((error) => console.warn(error))
          }, 100
        )
        )
          
      } else {
        element.classList.add("liked");
        fetch(`/add_reaction/${element.classList[0]}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json" // Set the content type based on your API requirements
            // Add any additional headers if needed
          } // Convert the data to JSON format
        }).then(setTimeout(()=>{
          fetch(`/reaction_count/${element.classList[0]}`)
            .then((response) => response.json())
            .then((responseData) => {
              element.childNodes[1].innerHTML = responseData;
            })
            .catch((error) => console.warn(error))
          }, 100
        )
        )
      }
    });
  });

  postDeleteDiv.forEach(function (element) {
    element.addEventListener("click", () => {
      fetch(`/delete_post/${element.classList[0]}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json" // Set the content type based on your API requirements
            // Add any additional headers if needed
          } // Convert the data to JSON format
        }).then(setTimeout(()=>{
          location.reload();
        }, 100))
    })
    })
</script>
{% endblock %}
